* {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  overflow-x: hidden;
  width: 100vw;
}

body section {
  padding-top: 1em;
}

.header {
  width: 100%;
  color: #edebd7;
}

.header .navbar {
  position: absolute;
  z-index: 2;
}

.header .navbar a {
  color: #edebd7;
}

.header .navbar a:hover {
  cursor: pointer;
}

.header .navbar button {
  color: #edebd7;
  outline: none;
}

.header .headerImage {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.3))), url("https://images.unsplash.com/photo-1478145046317-39f10e56b5e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1478145046317-39f10e56b5e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  height: 80vh;
}

.header .headerImage .introText {
  font-weight: 600;
}

.carousel .carousel-inner {
  margin: auto;
}

.carousel .carousel-inner .carousel-item {
  height: auto;
  background-repeat: no-repeat;
  text-align: center;
}

.carousel .carousel-inner .carousel-item .food {
  height: 100%;
}

.carousel .carousel-inner .carousel-item img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  margin: auto;
  opacity: .5;
}

.carousel .carousel-control {
  height: 100%;
}

.carousel .carousel-indicators {
  z-index: 1;
}

.carousel .carousel-inner {
  z-index: 0;
}

.footer {
  min-height: 30vh;
}

a {
  cursor: pointer;
}

span:nth-child(2) {
  color: #e5b21d;
}

.homepage {
  background: #edebd7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homepage .card {
  border: none;
}

.homepage .card .card-body {
  -webkit-box-shadow: inset 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 2px 2px 6px 2px rgba(0, 0, 0, 0.5);
}

.homepage .card .card-body .card-title {
  text-align: center;
  color: #423E37;
}

.homepage .card .card-body .card-text {
  color: #6E675F;
}

.menu {
  min-height: 100vh;
}

.menu .container-responsive {
  min-height: 100vh;
}

.menu .foodItems {
  width: 100%;
}

.menu .foodItems .card {
  width: 80%;
  height: 100%;
  margin: auto;
}

.menu .foodItems .card .card-img-top {
  height: 30%;
}

.menu .foodItems .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .foodItems .card .card-body .text {
  margin: .5rem auto;
}

.menu .foodItems .card .card-body .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .foodItems .card .card-body button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu h4 {
  text-align: center;
}

.carousel, .carousel-inner, .team {
  max-height: 80vh;
}

.contact, #orderOnline {
  min-height: 60vh;
}

.paymentSection #payment {
  text-align: center;
  width: 100%;
  margin: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}

.paymentSection #payment .row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.paymentSection #payment .form-group {
  margin: 2em auto;
}

.paymentSection #payment .form-group input {
  margin-bottom: 2em auto;
}

#orderOnline {
  color: #fff;
}

#orderOnline .onlineTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#orderOnline .orderNow {
  text-align: center;
}

#orderOnline .table {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .header .headerImage {
    height: 100vh;
    background-position: bottom;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.3))), url("https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  }
  .menu {
    min-height: 100vh;
  }
  .menu .container-responsive {
    min-height: 100vh;
  }
  .menu .foodItems {
    width: 50%;
    padding: 1em;
  }
  .menu .foodItems .card {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .menu .foodItems .card .card-img-top {
    height: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */