//--------------------------------VARIABLES-------------

$primary: #edebd7;
$secondary: #e5b21d;
$tertiary: #423E37;
$quaternary: #6E675F;

//----------------------------END VARIABLES-------------

//------------------------UNIVERSAL ELEMENTS------------------------------

*{
    scroll-behavior: smooth;
}

body{
    font-size: 18px;
    overflow-x: hidden;
    width: 100vw;

    section{
        padding-top: .5rem;
    }
}

.header{
    width: 100%;
    color: $primary;

    .navbar{
        position: absolute;
        z-index: 2;

        a{
            color: $primary;

            &:hover{
                cursor: pointer;
            }
        }

        button{
            color: $primary;  
            outline: none;
        }
    }

    
    .headerImage{
        width:100%;
        background-position: center ;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1478145046317-39f10e56b5e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");

        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        position: relative;
        height: 80vh;
        
        .introText{
            font-weight: 600;
        }
    }
}

.carousel{
    .carousel-indicators{
        z-index: 1;
    }
    .carousel-inner{
        z-index: 0;
    }
}

.footer{
    min-height: 30vh;
}

a{
    cursor: pointer;
}

span:nth-child(2){
    color: $secondary;
}

//--------------------- END UNIVERSAL ELEMENTS------------------------------

//-------------------TOP LEVEL PAGES------------------------

.homepage{
    background: $primary;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

	.card{
		border: none;
		.card-body{
			box-shadow: inset 2px 2px 6px 2px rgba(0, 0, 0, 0.5);

			.card-title{
				text-align: center;
				color: $tertiary;
			}

			.card-text{
				color: $quaternary;
			}
		}
	}
    
    
}

.menu{
    min-height: 100vh;
}

//----------------END TOP LEVEL PAGES------------------------

//-------------------LOWER LEVEL PAGES------------------------
.carousel, .carousel-inner, .team{
    max-height: 100vh;
}

.contact, #orderOnline{
    min-height: 60vh;
}

#goToTeam{
    .carousel-item{
        height: 100vh;
        width:100%;
        background-position: center ;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .carousel-item:nth-child(1){
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1559575003-fb4ee38a747d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80");
    }

    .carousel-item:nth-child(2){
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1565608087341-404b25492fee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    }

    .carousel-item:nth-child(3){
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1532635211-8ec15f2ce05c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    }
}

.menu{
    .card-body{
        display: flex;
        flex-direction: column;

        .text{
            margin: .5rem auto;
        }

        .prices{
            display: flex;
            justify-content: space-between;
        }

        button{
            align-self: center;
        }
    }

    h4{
        text-align: center;
    }
}

.paymentSection{
    #payment{
        text-align: center;
        height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));

        .row{
            justify-content: space-around;
        }

        .form-group{
            margin: 2em auto;

            input{
                margin-bottom: 2em auto;
            }
        }
    }
}

#orderOnline{
    color: #fff;

    .onlineTop{
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
    }

    .orderNow{
        text-align: center;
    }
    .table{
        margin-bottom: 0;
    }
}
//--------------END LOWER LEVEL PAGES------------------------

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }